.pagination-fram {
    width: 50%;
    margin: auto;
    margin-top: 20px;
} 

.pagination-item {
    text-align: center;
    background-color: rgb(175, 220, 230);
    color: white;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.pagination-item:hover {
    background-color: rgb(187, 64, 81);
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pagination-item-selected {
    background-color: rgb(69, 165, 169);
}

.pagination-button {
    border: none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.pagination-button:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}