<div class="container pagination">
    <div class="row pagination-fram justify-content-center">

        <div class="pagination-button col-1 mx-3" (click)="reducePaginationNumber()"> < </div>

        <div
        *ngFor="let item of visiblePaginationNumbersArray" 
        class="col-1 pagination-item mx-1" 
        (click)="getTenData(item.title)" 
        [ngClass]=" item.isSelected ? 'pagination-item-selected' : '' ">
           {{item.title}}
        </div>

        <div class="pagination-button col-1 mx-3" (click)="addPaginationNumber()"> > </div>

    </div>
</div>